* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

#puzzle-title {
    margin: 150px 0 50px  0;
}

#select-word-amount {
    margin-top: 30px
}

.puzzle-block {
    width: 100%;
}
h1, p, #button-wrapper, #select-word-amount {
    display: flex;
    justify-content: center;
}

span {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

p {
    font-weight: 300;
    margin-bottom: .8rem;
}

#puzzle {
    display: flex;
    margin-bottom: .5rem;
}

#guessed-letters {
    margin-bottom: 3rem;
}

.button {
    background: #9053d1;
    border: none;
    border-bottom: 5px solid #5a357c;
    cursor: pointer;
    color: rgb(226, 226, 226);
    font-size: 1.8rem;
    font-weight: 300;
    padding: .8rem;
    transition: background .7s ease, color .3s ease;
}

.button:hover {
    background: #5F3A87;
}

#reset{
    height: 50px;
    width: 70px
}